<div class="item mb-4 mt-4">
         <label>
   <input type="image" class="align-middle" src="assets/back-image.png" width="15%" ng-click="tableCtrl.back()">
       
            Atras
        </label>
    </div>
<table id="table" class="align-middle">
    <thead>
        <tr>
            <th>Avatar</th>
            <th>Login</th>
            <th>Repos_url</th>
            <th>Followers</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="element in tableCtrl.userFollowerList">
            <td> <img ng-src="{{element.avatar_url}}" width="30%"></td>
            <td> {{element.id}} </td>
            <td> {{element.login}} </td>
            <td> <a ng-click="tableCtrl.selectUser= element.repos_url; tableCtrl.reposModal()">{{element.repos_url}}</a> </td>
        </tr>
    </tbody>
</table>